USE [dimaso_Sitronik]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[IdUser] [int] NOT NULL,
	[Role] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[IdBus] [int] IDENTITY(1,1) NOT NULL,
	[IsBroken] [bit] NOT NULL,
	[Number] [nvarchar](6) NOT NULL,
	[Location] [geography] NULL,
	[IdRoute] [int] NULL,
	[Charge] [int] NULL,
	[AverageChargeDrop] [int] NULL,
	[Сapacity] [int] NOT NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[IdBus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusStation]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusStation](
	[IdBusStation] [int] IDENTITY(1,1) NOT NULL,
	[PeopleCount] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Location] [geography] NOT NULL,
 CONSTRAINT [PK_BusStation] PRIMARY KEY CLUSTERED 
(
	[IdBusStation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[IdDriver] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[IdDriver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverDriveBus]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverDriveBus](
	[IdBus] [int] NOT NULL,
	[IdDriver] [int] NOT NULL,
 CONSTRAINT [PK_DriverDriveBus] PRIMARY KEY CLUSTERED 
(
	[IdBus] ASC,
	[IdDriver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factor]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factor](
	[IdFactor] [int] IDENTITY(1,1) NOT NULL,
	[SpeedСoefficient] [decimal](3, 2) NOT NULL,
	[Radius] [decimal](6, 3) NULL,
	[Location] [geography] NULL,
	[IdType] [int] NOT NULL,
	[IdRoute] [int] NOT NULL,
 CONSTRAINT [PK_Factor] PRIMARY KEY CLUSTERED 
(
	[IdFactor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[IdMessage] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[IdSender] [int] NOT NULL,
	[IdRecipient] [int] NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Message_1] PRIMARY KEY CLUSTERED 
(
	[IdMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[IdRoute] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[IsBacked] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[IdRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteByBusStations]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteByBusStations](
	[IdRoute] [int] NOT NULL,
	[IdBusStation] [int] NOT NULL,
	[SerialNumberBusStation] [int] NOT NULL,
	[StandardArrivalTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RouteByPoint] PRIMARY KEY CLUSTERED 
(
	[IdRoute] ASC,
	[IdBusStation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[IdSchedule] [int] IDENTITY(1,1) NOT NULL,
	[IdBus] [int] NOT NULL,
	[IdBusStation] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[PeopleCountBoardingBus] [int] NULL,
	[PeopleCountGettingOffBus] [int] NULL,
 CONSTRAINT [PK_Schedule_1] PRIMARY KEY CLUSTERED 
(
	[IdSchedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeFactor]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeFactor](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_TypeFactor] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.12.2023 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[Login] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([IdUser], [Role]) VALUES (2, N'Руководитель')
INSERT [dbo].[Admin] ([IdUser], [Role]) VALUES (4, N'Диспетчер')
GO
SET IDENTITY_INSERT [dbo].[Bus] ON 

INSERT [dbo].[Bus] ([IdBus], [IsBroken], [Number], [Location], [IdRoute], [Charge], [AverageChargeDrop], [Сapacity]) VALUES (1, 0, N'с123кж', 0xE6100000010F0DDF3AB6AD1F5040000000045C4F4440000000000000F8FF000000000000F8FF, 13, 100, NULL, 45)
INSERT [dbo].[Bus] ([IdBus], [IsBroken], [Number], [Location], [IdRoute], [Charge], [AverageChargeDrop], [Сapacity]) VALUES (2, 0, N'о453кк', 0xE6100000010F677E35070823504096B1A19BFD474440000000000000F8FF000000000000F8FF, 1, 87, NULL, 60)
INSERT [dbo].[Bus] ([IdBus], [IsBroken], [Number], [Location], [IdRoute], [Charge], [AverageChargeDrop], [Сapacity]) VALUES (3, 0, N'у954мс', 0xE6100000010F1664776A55265040000000F8EE4F4440000000000000F8FF000000000000F8FF, 7, 64, 3600, 60)
SET IDENTITY_INSERT [dbo].[Bus] OFF
GO
SET IDENTITY_INSERT [dbo].[BusStation] ON 

INSERT [dbo].[BusStation] ([IdBusStation], [PeopleCount], [Name], [Location]) VALUES (1, 12, N'Железнодорожный вокзал', 0xE6100000010FD731AEB8382350408735954561494440000000000000F8FF000000000000F8FF)
INSERT [dbo].[BusStation] ([IdBusStation], [PeopleCount], [Name], [Location]) VALUES (2, 5, N'Авиакассы', 0xE6100000010F6F48A30227235040C3BB5CC477484440000000000000F8FF000000000000F8FF)
INSERT [dbo].[BusStation] ([IdBusStation], [PeopleCount], [Name], [Location]) VALUES (3, 10, N'Тимме-Воскресенская', 0xE6100000010F677E35070823504096B1A19BFD474440000000000000F8FF000000000000F8FF)
SET IDENTITY_INSERT [dbo].[BusStation] OFF
GO
INSERT [dbo].[Driver] ([IdDriver], [StartTime], [EndTime]) VALUES (1, NULL, NULL)
INSERT [dbo].[Driver] ([IdDriver], [StartTime], [EndTime]) VALUES (5, NULL, NULL)
INSERT [dbo].[Driver] ([IdDriver], [StartTime], [EndTime]) VALUES (6, NULL, NULL)
GO
INSERT [dbo].[DriverDriveBus] ([IdBus], [IdDriver]) VALUES (1, 1)
INSERT [dbo].[DriverDriveBus] ([IdBus], [IdDriver]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[Factor] ON 

INSERT [dbo].[Factor] ([IdFactor], [SpeedСoefficient], [Radius], [Location], [IdType], [IdRoute]) VALUES (1, CAST(0.50 AS Decimal(3, 2)), CAST(2.500 AS Decimal(6, 3)), 0xE6100000010CF7578FFB568144400917F2086EF03C40, 1, 1)
INSERT [dbo].[Factor] ([IdFactor], [SpeedСoefficient], [Radius], [Location], [IdType], [IdRoute]) VALUES (2, CAST(0.80 AS Decimal(3, 2)), NULL, NULL, 2, 1)
INSERT [dbo].[Factor] ([IdFactor], [SpeedСoefficient], [Radius], [Location], [IdType], [IdRoute]) VALUES (3, CAST(0.00 AS Decimal(3, 2)), NULL, 0xE6100000010C56324546492150400000002066564440, 1, 14)
SET IDENTITY_INSERT [dbo].[Factor] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([IdMessage], [Value], [IdSender], [IdRecipient], [Time]) VALUES (75, N'Здравсвуйте, у меня проблема!', 6, 4, CAST(N'2023-12-06T23:54:14.087' AS DateTime))
INSERT [dbo].[Message] ([IdMessage], [Value], [IdSender], [IdRecipient], [Time]) VALUES (76, N'Здравствуйте, что случилось?', 4, 6, CAST(N'2023-12-06T23:56:40.970' AS DateTime))
INSERT [dbo].[Message] ([IdMessage], [Value], [IdSender], [IdRecipient], [Time]) VALUES (77, N'Машина, горит! ', 6, 4, CAST(N'2023-12-06T23:57:28.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([IdRoute], [Name], [IsBacked], [StartTime], [EndTime]) VALUES (1, N'64', 0, CAST(N'2023-12-05T08:00:00.000' AS DateTime), CAST(N'2023-12-05T22:00:00.000' AS DateTime))
INSERT [dbo].[Route] ([IdRoute], [Name], [IsBacked], [StartTime], [EndTime]) VALUES (7, N'5', 0, CAST(N'2023-12-05T20:00:00.000' AS DateTime), CAST(N'2023-12-05T22:00:00.000' AS DateTime))
INSERT [dbo].[Route] ([IdRoute], [Name], [IsBacked], [StartTime], [EndTime]) VALUES (13, N'70', 0, CAST(N'2023-12-05T08:00:00.000' AS DateTime), CAST(N'2023-12-05T22:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
INSERT [dbo].[RouteByBusStations] ([IdRoute], [IdBusStation], [SerialNumberBusStation], [StandardArrivalTime]) VALUES (1, 1, 1, CAST(N'2023-12-05T08:00:00.000' AS DateTime))
INSERT [dbo].[RouteByBusStations] ([IdRoute], [IdBusStation], [SerialNumberBusStation], [StandardArrivalTime]) VALUES (1, 2, 2, CAST(N'2023-12-05T08:30:00.000' AS DateTime))
INSERT [dbo].[RouteByBusStations] ([IdRoute], [IdBusStation], [SerialNumberBusStation], [StandardArrivalTime]) VALUES (1, 3, 3, CAST(N'2023-12-05T09:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([IdSchedule], [IdBus], [IdBusStation], [Time], [PeopleCountBoardingBus], [PeopleCountGettingOffBus]) VALUES (934, 2, 1, CAST(N'2023-12-06T08:00:00.000' AS DateTime), 20, 20)
INSERT [dbo].[Schedule] ([IdSchedule], [IdBus], [IdBusStation], [Time], [PeopleCountBoardingBus], [PeopleCountGettingOffBus]) VALUES (935, 2, 2, CAST(N'2023-12-06T08:30:00.000' AS DateTime), 20, 20)
INSERT [dbo].[Schedule] ([IdSchedule], [IdBus], [IdBusStation], [Time], [PeopleCountBoardingBus], [PeopleCountGettingOffBus]) VALUES (936, 2, 3, CAST(N'2023-12-06T09:00:00.000' AS DateTime), 20, 20)
GO
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeFactor] ON 

INSERT [dbo].[TypeFactor] ([IdType], [Name], [Description]) VALUES (1, N'Пробка', NULL)
INSERT [dbo].[TypeFactor] ([IdType], [Name], [Description]) VALUES (2, N'Гололедица', NULL)
SET IDENTITY_INSERT [dbo].[TypeFactor] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [FirstName], [Patronymic], [SecondName], [Password], [Login]) VALUES (1, N'Антон', N'Иванович', N'Крушинов', 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4, N'dr')
INSERT [dbo].[User] ([IdUser], [FirstName], [Patronymic], [SecondName], [Password], [Login]) VALUES (2, N'Глеб', N'Денисович', N'Хватов', 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4, N'meresk')
INSERT [dbo].[User] ([IdUser], [FirstName], [Patronymic], [SecondName], [Password], [Login]) VALUES (4, N'Владимир', N'Александрович', N'Иванов', 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4, N'disp')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Bus] ADD  CONSTRAINT [DF_Bus_IsBroken]  DEFAULT ((0)) FOR [IsBroken]
GO
ALTER TABLE [dbo].[Bus] ADD  CONSTRAINT [DF_Bus_Charge]  DEFAULT ((100)) FOR [Charge]
GO
ALTER TABLE [dbo].[Bus] ADD  CONSTRAINT [DF_Bus_Сapacity]  DEFAULT ((60)) FOR [Сapacity]
GO
ALTER TABLE [dbo].[BusStation] ADD  CONSTRAINT [DF_BusStation_PeopleCount]  DEFAULT ((0)) FOR [PeopleCount]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_Time]  DEFAULT (dateadd(hour,(3),getutcdate())) FOR [Time]
GO
ALTER TABLE [dbo].[Route] ADD  CONSTRAINT [DF_Route_IsBacked]  DEFAULT ((0)) FOR [IsBacked]
GO
ALTER TABLE [dbo].[RouteByBusStations] ADD  CONSTRAINT [DF_RouteByBusStations_StandardArrivalTime]  DEFAULT (getdate()) FOR [StandardArrivalTime]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD  CONSTRAINT [FK_Bus_Route] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[Route] ([IdRoute])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bus] CHECK CONSTRAINT [FK_Bus_Route]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_User] FOREIGN KEY([IdDriver])
REFERENCES [dbo].[User] ([IdUser])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_User]
GO
ALTER TABLE [dbo].[DriverDriveBus]  WITH CHECK ADD  CONSTRAINT [FK_DriverDriveBus_Bus] FOREIGN KEY([IdBus])
REFERENCES [dbo].[Bus] ([IdBus])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DriverDriveBus] CHECK CONSTRAINT [FK_DriverDriveBus_Bus]
GO
ALTER TABLE [dbo].[DriverDriveBus]  WITH CHECK ADD  CONSTRAINT [FK_DriverDriveBus_Driver] FOREIGN KEY([IdDriver])
REFERENCES [dbo].[Driver] ([IdDriver])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DriverDriveBus] CHECK CONSTRAINT [FK_DriverDriveBus_Driver]
GO
ALTER TABLE [dbo].[Factor]  WITH CHECK ADD  CONSTRAINT [FK_Factor_Route] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[Route] ([IdRoute])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Factor] CHECK CONSTRAINT [FK_Factor_Route]
GO
ALTER TABLE [dbo].[Factor]  WITH CHECK ADD  CONSTRAINT [FK_Factor_TypeFactor] FOREIGN KEY([IdType])
REFERENCES [dbo].[TypeFactor] ([IdType])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Factor] CHECK CONSTRAINT [FK_Factor_TypeFactor]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([IdRecipient])
REFERENCES [dbo].[User] ([IdUser])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_UserInChat_User] FOREIGN KEY([IdSender])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_UserInChat_User]
GO
ALTER TABLE [dbo].[RouteByBusStations]  WITH CHECK ADD  CONSTRAINT [FK_RouteByBusStations_BusStation] FOREIGN KEY([IdBusStation])
REFERENCES [dbo].[BusStation] ([IdBusStation])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RouteByBusStations] CHECK CONSTRAINT [FK_RouteByBusStations_BusStation]
GO
ALTER TABLE [dbo].[RouteByBusStations]  WITH CHECK ADD  CONSTRAINT [FK_RouteByPoint_Route] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[Route] ([IdRoute])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RouteByBusStations] CHECK CONSTRAINT [FK_RouteByPoint_Route]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Bus] FOREIGN KEY([IdBus])
REFERENCES [dbo].[Bus] ([IdBus])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Bus]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_BusStation1] FOREIGN KEY([IdBusStation])
REFERENCES [dbo].[BusStation] ([IdBusStation])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_BusStation1]
GO
